.banner-container {
  width: 100%;
  max-width: 100%;
  position: absolute;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */

  margin-top: 15vh;
  height: 85vh;

  left: 0;
  right: 0;
}

.banner-content {
  display: flex;
  justify-content: center;
  /* height: 50%; */

  width: 35%;
  /* width: calc(17vw + 17vh + 17vmin); */

  position: relative;
  /* margin-top: calc(11vw + 11vh + 11vmin); */

  /* margin-left: calc(3.5vw + 3.5vh + 3.5vmin); */
  /* margin-left: 5%; */

  /* align-items: center; */

  margin-left: auto;
  margin-left: calc(3.5vw + 3.5vh + 3.5vmin);
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  /* left: 7%; */
}

.banner-header-img {
  display: flex;
  justify-content: center;
  /* align-items: center; */

  animation: updown 3s linear infinite;

  width: 65%;
  max-width: calc(18vw + 18vh + 18vmin);
  
  height: fit-content;

  position: relative;

  /* margin-top: calc(7vw + 7vh + 7vmin); */

  margin-left: auto;
  margin-right: auto;
  margin-right: calc(2vw + 2vh + 2vmin);

  margin-top: auto;
  margin-bottom: auto;

  /* right: 3.5%; */
}

.banner {
  background-image: url('../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.banner h1 {
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

  line-height: 1;

  margin-bottom: 3.2%;
  margin-bottom: calc(0.5vw + 0.5vh + 0.5vmin);
}

.banner h3 {
  font-weight: lighter;

  margin-left: 0.5%;
  margin-left: calc(0.07vw + 0.07vh + 0.07vmin);
}

.banner button {
  color: #fff;
  font-weight: 700;

  font-size: 1.25rem;
  font-size: calc(0.67vw + 0.67vh + 0.67vmin);
  
  margin: 9.5% 0 0 0.5%;
  margin: calc(1.5vw + 1.5vh + 1.5vmin) 0 0 calc(0.07vw + 0.07vh + 0.07vmin);
  
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

.banner button svg {
  width: 1.3rem;
  width: calc(0.8vw + 0.8vh + 0.8vmin);

  height: auto;

  margin-left: 0.6rem; /* 10px */
  margin-left: calc(0.4vw + 0.4vh + 0.4vmin); 

  transition: 0.3s ease-in-out;
  line-height: 1; 
}

.banner button:hover svg {
  margin-left: 1.3rem;
  margin-left: calc(0.8vw + 0.8vh + 0.8vmin); /* 1.5rem 25px */
}

@keyframes updown {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-5%);
  }
}

@media screen and (max-width: 991px) {
  .banner-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .banner-content {
    white-space: nowrap;
    margin-left: auto;
    
    /* left: auto; */
    
    /* margin-top: calc(8vw + 8vh + 8vmin); */
  }
  
  .banner-header-img {
    width: 100%;
    /* margin-top: auto; */

    margin-top: calc(2vw + 2vh + 2vmin);

    /* right: auto; */
    margin-right: auto;
  }
}