.banner-content {
  position: absolute;
  top: 43%;
  left: 7%;
}

.banner {
  background-image: url('../assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.banner h1 {
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

  line-height: 1;

  margin-bottom: 3.2%;
  margin-bottom: calc(0.5vw + 0.5vh + 0.5vmin);
}

.banner h3 {
  font-weight: lighter;

  margin-left: 0.5%;
  margin-left: calc(0.07vw + 0.07vh + 0.07vmin);
}

.banner button {
  color: #fff;
  font-weight: 700;

  font-size: 1.25rem;
  font-size: calc(0.67vw + 0.67vh + 0.67vmin);
  
  margin: 9.5% 0 0 0.5%;
  margin: calc(1.5vw + 1.5vh + 1.5vmin) 0 0 calc(0.07vw + 0.07vh + 0.07vmin);
  
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

.banner button svg {
  width: 1.3rem;
  width: calc(0.8vw + 0.8vh + 0.8vmin);

  margin-left: 0.6rem; /* 10px */
  margin-left: calc(0.4vw + 0.4vh + 0.4vmin); 

  transition: 0.3s ease-in-out;
  line-height: 1; 
}

.banner button:hover svg {
  margin-left: 1.3rem;
  margin-left: calc(0.8vw + 0.8vh + 0.8vmin); /* 1.5rem 25px */
}

.banner img {
  animation: updown 3s linear infinite;
  width: calc(18vw + 18vh + 18vmin);
  position: absolute;
  top: 31%;
  right: 3%;
}

@keyframes updown {
  0% {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(-5%);
  }
}

@media screen and (max-width: 991px) {
  .banner-content {
    top: 40.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .banner img {
    margin: 0 auto;
    top: 53%;
    left: 3%;
  }
}