.contact {
    position: relative;
    background-color: #191f29;
}

.contact-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.contact-bg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: -12%;
}

.contact-content {
    position: absolute;
    align-self: center;
    right: 23%;

    z-index: 2;
    width: 100%;
    max-width: calc(15vw + 15vh + 15vmin);
    background: rgba(255, 255, 255, 0.05);

    padding: 2rem;
    padding: calc(1vw + 1vh + 1vmin);

    border-radius: 1rem;
    border-radius: calc(0.55vw + 0.55vh + 0.55vmin);
}


/* -------------------------- FORM INPUT & TEXTAREA --------------------------- */
p.success {
    color: green;
    width: 28rem;
    width: 100%;
}

p.danger {
    color: #ff0000;
    width: 28rem;
    width: 100%;

    margin-bottom: 0.3rem;
    margin-bottom: calc(0.15vw + 0.15vh + 0.15vmin);
}

.invalidInput {
    border: 0.0625rem solid #ff0000 !important;
    border: calc(0.05vw + 0.05vh + 0.05vmin) solid #ff0000 !important;
}

.contact-content form input,
.contact-content form textarea {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    resize: none;

    width: 28rem;
    width: 100%;
    min-width: calc(5vw + 5vh + 5vmin);

    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border: calc(0.05vw + 0.05vh + 0.05vmin) solid rgba(255, 255, 255, 0.5);

    border-radius: 1rem;
    border-radius: calc(0.55vw + 0.55vh + 0.55vmin);

    margin: 1rem 0 0.5rem 0;
    margin: calc(0.55vw + 0.55vh + 0.55vmin) 0 calc(0.3vw + 0.3vh + 0.3vmin) 0;

    padding: 0.5rem 1rem;
    padding: calc(0.3vw + 0.3vh + 0.3vmin) calc(0.55vw + 0.55vh + 0.55vmin);
}

.contact-content form input:focus,
.contact-content form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}

.contact-content form input::placeholder,
.contact-content form textarea::placeholder {
    color: #fff;
}

.contact-content form input:focus::placeholder,
.contact-content form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
}

.contact-content form button {
    color: #000;
    background-color: #fff;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;

    width: 5.625rem;
    width: calc(5.15vw + 5.15vh + 5.15vmin);
    
    height: 1rem;
    height: calc(1.5vw + 1.5vh + 1.5vmin);

    margin-top: 25px;
    margin-top: calc(0.9vw + 0.9vh + 0.9vmin);
}

.contact-content form button span {
    z-index: 1;
    position: relative;
}

.contact-content form button:hover {
    color: #fff;
}

.contact-content form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.4s ease-in-out;
}

.contact-content form button:hover::before {
    width: 100%;
}


@media screen and (max-width: 575px) {
    .contact-bg {
        left: 0;
    }

    .contact-content-wrapper {
        right: 0;
    }
}