.contact {
    background-color: #191f29;
    padding: 110px 0 130px 0;
    z-index: 2;
}

.contact-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.canvas-container {
    width: 100%;
    min-width: 450px; /* without min-width, image will be cropped when resizing screen */
    height: 750px; /* this will get image size fixed (for largest screen size) even after back from resizing to smaller window screen*/
    margin: 0 0 0 110px;
}

.contact-content {
    margin: 130px 0 0 0;
}

.contact-content > h2 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0 0 15px 0px;
}


/* -------------------------- FORM INPUT & TEXTAREA --------------------------- */
.contact-content form input,
.contact-content form textarea {
    width: 28rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: #fff;
    margin: 15px 0 10px 0;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.6px;
    transition: 0.3s ease-in-out;
    resize: none;
}

.contact-content form input:focus,
.contact-content form textarea:focus {
    background: rgba(255, 255, 255, 1);
    color: #121212;
}

.contact-content form input::placeholder,
.contact-content form textarea::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.contact-content form input:focus::placeholder,
.contact-content form textarea:focus::placeholder {
    color: #121212;
    opacity: 0.8;
}

.contact-content form button {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 0.75rem 3rem;
    font-size: 1rem;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
}

.contact-content form button span {
    z-index: 1;
    position: relative;
}

.contact-content form button:hover {
    color: #fff;
}

.contact-content form button::before {
    content: "";
    background: #121212;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}

.contact-content form button:hover::before {
    width: 100%;
}

/* MEDIA QUERIES (XL DEVICE) */
@media screen and (max-width: 1399px) {
    .contact-container {
        gap: 3rem;
    }

    .canvas-container {
        max-height: 730px;
        margin: 0 0 0 70px;
    }
    
    .contact-content > h2 {
        font-size: 2.5rem;
    }

    .contact-content form input,
    .contact-content form textarea {
        width: 27.5rem;
    }
}

/* MEDIA QUERIES (LG DEVICE) */
@media screen and (max-width: 1199px) {
    .contact-content {
        margin: 120px 0 0 0;
    }

    .canvas-container {
        max-height: 700px;
        margin: 0 0 0 20px;
    }
    
    .contact-content > h2 {
        font-size: 2.4rem;
    }

    .contact-content form input,
    .contact-content form textarea {
        width: 21.5rem;
    }
}

/* MEDIA QUERIES (MD DEVICE) */
@media screen and (max-width: 991px) {
    .contact-container {
        display: flex;
        flex-direction: column;
    }

    .canvas-container {
        max-height: 600px;
        margin: 0 0 0 -10px;
    }

    .contact-content {
        margin: 0 0 0 125px;
    }

    .contact-content form input,
    .contact-content form textarea {
        width: 29rem;
    }    
}

/* MEDIA QUERIES (SM DEVICE) */
@media screen and (max-width: 767px) {
    .contact-content {
        margin: 0 0 0 65px;
    }

    .contact-content form input,
    .contact-content form textarea {
        width: 25rem;
    }    
}

/* MEDIA QUERIES (XS DEVICE) */
@media screen and (max-width: 575px) {
    .contact-content {
        margin: 0 0 0 80px;
    }

    .contact-content form input,
    .contact-content form textarea {
        width: 69vw;
    }
}

/* MEDIA QUERIES (XSS DEVICE) */
@media screen and (max-width: 500px) {
    .contact-content form input,
    .contact-content form textarea {
        width: 66vw;
    }
}

/* MEDIA QUERIES (MINI DEVICE) */
@media screen and (max-width: 450px) {
    .canvas-container {
        margin: 0 auto;
        width: 100%;
        min-width: 50px;
        max-width: 350px;
    }

    .contact-content {
        margin: 0 0 0 17vw;
    }

    .contact-content h2{
        font-size: 1.6rem;
        margin: 0 0;
    }
}