.skills {
    margin: calc(4vw + 4vh + 4vmin) auto;
    position: relative;
}

.skills-background {
    position: absolute;
    top: calc(-4vw - 4vh - 4vmin); 
    left: calc(-4vw - 4vh - 4vmin); 
    width: calc(100% + 4vw + 4vh + 4vmin); 
    height: calc(100% + 8vw + 8vh + 8vmin); 
    z-index: -1;
    background: url('../assets/img/skill-background2.png') center/cover no-repeat;
}

.experience-container {
    position: absolute;

    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    flex-direction: column;

    left: 0;
    right: 0;

    gap: calc(2vw + 2vh + 2vmin);
}

.experience-content {
    width: 50%;

    margin: 0 auto;
    background: var(--color-bg-variant);

    border: 1px solid transparent;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(4.5vw + 4.5vh + 4.5vmin), 0fr));

    justify-content: center;

    text-wrap: nowrap;

    row-gap: calc(1.5vw + 1.5vh + 1.5vmin);
}

.experience-container > h2 {
    display: flex;
    flex-wrap: nowrap !important;

    width: 50%;
    
    color: var(--color-primary);

    font-size: 2.8rem;
    font-size: calc(1.5vw + 1.5vh + 1.5vmin);

	font-weight: 700;
    text-align: center;
    justify-content: center;

    margin: 0 auto;
}

.experience-content h5 {
    font-size: 1.2rem;
    font-size: calc(0.55vw + 0.55vh + 0.55vmin);

    max-width: fit-content;
    text-align: center;

    display: flex;
    align-self: center;
    justify-content: center;
}

.experience-details {
    display: flex !important;
    flex-direction: column;
    gap: calc(0.3vw + 0.3vh + 0.3vmin);
}

.experience-details-icon {
    align-self: center;
}

.experience-details svg {
    color: var(--color-primary);

    height: 3em;
    height: calc(1.3vw + 1.3vh + 1.3vmin);

    width: 3em;
    width: calc(1.3vw + 1.3vh + 1.3vmin);
}