.skills {
    min-height: 100vh;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), rgba(157, 195, 224, 0.15), transparent 10%);
    z-index: 9999;
}

.square {
    position: absolute;
    background-color: #1a1a1a;
    z-index: -1;
    border-radius: 64px;
    border-radius: calc(0.8vw + 0.8vw + 0.8vmin);

    width: 70%;
    width: calc(25vw + 25vh + 25vmin);

    height: 100%;
    /* height: calc(23vw + 23vh + 23vmin); */

    top: 48%;
    top: calc(11.7vw + 11.7vh + 11.7vmin);

    left: 50%;
    /* left: calc(19.4vw + 19.4vh + 19.4vmin); */

    transform: translate(-50%, -50%);
}

.experience-container {
    width: 100%;
    /* position: absolute; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    padding: 70px 0 80px 0;
    padding: calc(2vw + 2vh + 2vmin) 0;

    margin: 70px 0;
    margin: calc(2vw + 2vh + 2vmin) 0;

    text-align: center;
    justify-content: center;
}

.experience-content {
    background: var(--color-bg-variant);

    border-radius: 2rem;
    border: 1px solid transparent;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(75px, max-content)); */

    row-gap: 3.5rem;
    row-gap: calc(1.5vw + 1.5vh + 1.5vmin);

    column-gap: calc(1.5vw + 1.5vh + 1.5vmin);
    
    margin: calc(1vw + 1vh + 1vmin) calc(11vw + 11vh + 11vmin);

    text-wrap: nowrap;
}

.experience-container > h2 {
    color: var(--color-primary);

    font-size: 2.8rem;
    font-size: calc(1.5vw + 1.5vh + 1.5vmin);

	font-weight: 700;
    text-align: center;

    margin: 0 50px;
    margin: 0 calc(10vw + 10vh + 10vmin);

    padding-bottom: 70px;
    padding-bottom: calc(0.5vw + 0.5vh + 0.5vmin);
}

.experience-content h5 {
    font-size: 1.2rem;
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);
}

.experience-details-icon {
    color: var(--color-primary);

    height: 3em;
    height: calc(1.3vw + 1.3vh + 1.3vmin);

    width: 3em;
    width: calc(1.3vw + 1.3vh + 1.3vmin);

    margin-bottom: 10px;
    margin-bottom: calc(0.3vw + 0.3vh + 0.3vmin);
}

.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -2;
}

/* MEDIA QUERIES (MD DEVICE) */
@media screen and (max-width: 991px) {
    .experience-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .square {
        width: 230%;
        width: calc(21vw + 21vh + 21vmin);

        /* height: 90%; */
        /* height: calc(28vw + 28vh + 28vmin); */

        transform: translate(-50%, -40%);
    } 
}

/* MEDIA QUERIES (SM DEVICE) */
@media screen and (max-width: 767px) {
    .experience-content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .square {
        /* width: 230%; */
        width: calc(17vw + 17vh + 17vmin);

        /* height: 90%;
        height: calc(36.5vw + 36.5vh + 36.5vmin); */

        transform: translate(-50%, -31.5%);
    } 
}

/* MEDIA QUERIES (XS DEVICE) */
@media screen and (max-width: 575px) {
    .experience-content {
        grid-template-columns: 1fr 1fr;
    }

    
    .square {
        /* width: 50%; */
        /* width: 15rem; */
        width: calc(15.5vw + 15.5vh + 15.5vmin);

        /* height: 97%; */
        /* height: 57.3rem; */
        /* height: calc(52vw + 52vh + 52vmin); */

        transform: translate(-50%, -22%);
    } 
}

/* MEDIA QUERIES (MINI DEVICE) */
@media screen and (max-width: 450px) {
    .experience-content {
        grid-template-columns: 1fr;
    }

    .square {
        /* width: 230%; */
        width: calc(15vw + 15vh + 15vmin);

        /* height: 100%; */
        /* height: calc(92vw + 92vh + 92vmin); */

        transform: translate(-50%, -12.5%);
    }
}