/************ NAVBAR GENERAL ************/
.navbar-container {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
}

nav.navbar {    
    height: 15vh;
    position: fixed;
    width: 100%;
    /* width: 100vw; */

    z-index: 9999;
    transition: 0.11s ease-in-out;
    background-color: transparent;
}

nav.navbar.scrolled {
    /* background-color: #121212; */
    backdrop-filter: blur(100px);
    
    /* border-bottom: 1px solid rgba(245,238,230,.5); */
}

.brand-logo {
    width: 8.125rem; /* 130px */
    width: calc(4.3vw + 4.3vh + 4.3vmin);
    min-width: 8.125rem;
    min-width: calc(4.3vw + 4.3vh + 4.3vmin);

    margin-top: calc(0.1vw + 0.1vh + 0.1vmin);
    /* position: absolute; */
    position: fixed;
    /* position: relative; */
    /* top: 5%; */
}

/************ NAVBAR LEFT PORTION ************/
span.navbar-link-left {
    display: inline-flex;

    /* position: absolute; */
    position: fixed;
    /* position: relative; */

    margin-top: 1.7rem;
    margin-top: calc(0.9vw + 0.9vh + 0.9vmin);
    margin-top: calc(1.2vw + 1.2vh + 1.2vmin);
    /* margin-top: calc(-0.22vw + -0.22vh + -0.22vmin); */

    /* margin-left: calc(4vw + 4vh + 4vmin); */
    left: 14.6%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    /* font-weight: 400; */
    color: #fff !important;
    opacity: 0.75;
    
    letter-spacing: 0.8px;
    letter-spacing: 0.05rem;
    letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

    /* padding: 0 25px; */
    padding: 0 1.5625rem;
    padding: 0 calc(0.83vw + 0.83vh + 0.83vmin);

    font-size: 18px; /* px here is a fallback for browsers which do not support the rem unit */
    font-size: 1.125rem;
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);

    /* margin-top: 1.7rem;
    margin-top: calc(0.87vw + 0.87vh + 0.87vmin); */
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}


/************ NAVBAR RIGHT PORTION ************/
span.navbar-link-right {
    display: inline-flex;
    align-items: center;

    /* margin-left: 30rem; */
    /* margin-left: calc(15.9vw + 15.9vh + 15.9vmin); */
    /* margin-left: calc(17.5vw + 17.5vh + 17.5vmin); */

    margin-top: 0.5rem;
    margin-top: calc(0.27vw + 0.27vh + 0.27vmin);
    margin-top: calc(0.6vw + 0.6vh + 0.6vmin);
    /* margin-top: calc(-0.85vw + -0.85vh + -0.85vmin); */

    /* position: absolute; */
    position: fixed;
    right: 8%;
}

.social-icon {
    display: inline-flex;

    /* margin-left: 14px;
    margin-left: 0.875rem; */

    z-index: 2;
}

.social-icon a {
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);

    /* width: 42px; */
    width: 2.625rem;
    width: calc(1.4vw + 1.4vh + 1.4vmin);
    /* height: 42px; */
    height: 2.625rem;
    height: calc(1.4vw + 1.4vh + 1.4vmin);

    margin-right: 6px;
    margin-right: calc(0.2vw + 0.2vh + 0.2vmin);
}

.social-icon a::before {
    content: "";

    /* width: 42px; */
    width: 2.625rem;
    width: calc(1.4vw + 1.4vh + 1.4vmin);
    /* height: 42px; */
    height: 2.625rem;
    height: calc(1.4vw + 1.4vh + 1.4vmin);

    position: absolute;

    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 50%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-link-right button {
    font-weight: 700;
    color: #fff;
    border: 1px solid;

    /* padding: 18px 34px; */
    padding: 1.125rem 2.125rem;
    padding: calc(0.59vw + 0.59vh + 0.59vmin) calc(1.14vw + 1.14vh + 1.14vmin);

    /* font-size: 18px; */
    font-size: 1.125rem;
    font-size: calc(0.6vw + 0.6vh + 0.6vmin);


    /* margin-left: 18px; */
    margin-left: 1.125rem;
    margin-left: calc(0.6vw + 0.6vh + 0.6vmin);

    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-link-right button span {
    z-index: 1;
}

.navbar-link-right button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-link-right button:hover {
    color: #121212;
}

.navbar-link-right button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}


/************ BURGER MENU ************/
.navbar-collapse.collapsing {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.navbar-collapse {
    transition: 0.3s ease-in-out;
}


.burger-menu-logo { 
    display: none;
}


nav.navbar .navbar-toggler {
    border: none;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}


/* bottom bar of burger icon */
nav.navbar .navbar-toggler-icon {
    /* width: 30px; */
    width: 1.875rem;
    /* height: 24px; */
    height: 1.5rem;
    background-image: none;
    position: relative;
    border-bottom: 0.125rem solid #fff;
    transition: all 300ms linear;
    /* top: -2px; */
    top: -0.125rem;
    z-index: 3;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}

/* top & middle bar of burger icon */
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    /* width: 30px; */
    width: 1.875rem;
    position: absolute;
    /* height: 2px; */
    height: 0.125rem;
    background-color: #fff;
    /* top: 0; */
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

/* positioning of middle bar of burger icon */
nav.navbar .navbar-toggler-icon:after {
    /* top: 11px; */
    top: 0.6875rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    /* height: 2px; */
    height: 0.125rem;
    /* width: 40px; */
    width: 2.5rem;
    /* left: -20px; */
    left: -0.625rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(10px) rotate(-45deg);
    background-color: #fff;
    /* height: 2px; */
    height: 0.125rem;
    /* width: 40px; */
    width: 2.5rem;
    /* left: -20px; */
    left: -0.625rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}


/* MEDIA QUERIES (XL DEVICE) */
/* @media screen and (max-width: 1399px) {
    span.navbar-link-right {
        display: inline-flex;
        align-items: center;
        margin-left: 24vw;
        margin-left: 19rem;
    }
} */

/* MEDIA QUERIES (LG DEVICE) */
/* @media screen and (max-width: 1199px) {
    span.navbar-link-right {
        display: inline-flex;
        align-items: center;
        margin-left: 12vw;
        margin-left: 8rem;
    }
} */

/* MEDIA QUERIES (MD DEVICE) */
@media screen and (max-width: 991px){
    .navbar-nav {
        margin: 0 auto;
    }

    .navbar-collapse {    
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;  
        padding: 6.4rem 0 6.4rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu-logo { 
        display: flex;
        margin: 1rem auto 2rem auto;
        width: 10rem;
        min-width: 10rem;
    }

    /* Burger Menu: Home, Skills, Projects Button */
    nav.navbar .navbar-nav .nav-link.navbar-link {
        font-weight: 400;
        color: #fff !important;
        letter-spacing: 0.8px;
        /* padding: 0 25px; */
        padding: 0 1.563rem;
        /* font-size: 28px; */
        font-size: 1.75rem;
        opacity: 0.75;
        margin-top: 2rem;
    }

    span.navbar-link-right {
        margin: 0 auto;
        flex-direction: column;
        flex-flow: column-reverse; /* put Contact button in front of social icons */
    }

    /* Contact Button */
    .navbar-link-right button {
        font-weight: 400;
        color: #fff !important;
        /* letter-spacing: 0.8px; */
        letter-spacing: 0.05rem;
        /* padding: 0 25px; */
        padding: 0 1.563rem;
        /* font-size: 28px; */
        font-size: 1.75rem;
        opacity: 0.75;
        margin: 2rem 0 0 0;
        border: none;
        padding: auto;
        transition: none;
    }

    .navbar-link-right button:hover,
    .navbar-link-right button.active {
        opacity: 1;
    }
    
    .navbar-link-right button::before {
        background-color: transparent;
        transition: none;
    }

    .social-icon {
        display: inline-flex;
        margin-left: 0;
        z-index: 2;
        margin-top: 6rem;
        gap: 1rem;
    }
}