/* ------------- NAVBAR GENERAL ------------- */
.navbar-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

nav.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 9999;

    width: 100%;

    transition: 0.1s ease-in-out;
    
}

nav.navbar.scrolled {
    backdrop-filter: blur(5px);
    backdrop-filter: blur(calc(0.135vw + 0.135vh + 0.135vmin));

    height: 13vh;
}

.navbar-brand-container {
    position: absolute;
    display: flex;
    align-items: center;

    height: 13vh;
    left: 3%;
    top: 0;
}

.navbar-brand {
    display: flex;
    padding: 0 !important;

    width: 8.125rem; 
    width: calc(4.1vw + 4.1vh + 4.1vmin);
}


/* ------------- MENU ICON TOGGLER ON NAVBAR ------------- */
.menu-icon-container {
    position: absolute;
    display: flex;
    align-items: center;

    height: 13vh;
    right: 7%;
    top: 0;
}

nav.navbar .navbar-toggler {
    border: none;
    padding: 0;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* bottom bar of burger icon */
nav.navbar .navbar-toggler-icon {
    position: relative;
    display: block;
    background-image: none;
    z-index: 3;

    width: 30px;
    width: 1.875rem;
    width: calc(1.2vw + 1.2vh + 1.2vmin);

    height: 24px;
    height: 1.5rem;
    height: calc(0.9vw + 0.9vh + 0.9vmin);
    height: 28%;

    border-bottom: calc(0.07vw + 0.07vh + 0.07vmin) solid #fff;

    transition: all 0.3s linear;
}

/* top & middle bar of burger icon */
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    position: relative;
    display: block;
    background-color: #fff;
    content: '';
    z-index: 2;

    width: 30px;
    width: 1.875rem;
    width: calc(1.2vw + 1.2vh + 1.2vmin);

    border-bottom: 0.07rem solid #fff;
    border-bottom: calc(0.07vw + 0.07vh + 0.07vmin) solid #fff;

    left: 0;
    top: 0;

    transition: all 0.3s linear;
}

/* positioning of middle bar of burger icon */
nav.navbar .navbar-toggler-icon::before {
    margin-bottom: 28%;
}

/* positioning of bottom bar of burger icon */
nav.navbar .navbar-toggler-icon::after {
    margin-bottom: 28%;
}


/* ------------- NAV MENU ------------- */
.navbar-nav {
    justify-content: center;

    top: 0;
    width: 100%;
    height: 100vh;
}

.nav-menu-overlay {
    background-color: black;
    opacity: 0.8;
}

.navbar-collapse {    
    position: fixed;
    text-align: center;
    background-image: url('../assets/img/banner-bg.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    transition: 0.5s ease-in-out; 
}

.navbar-collapse.collapsing {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

/* cross icon on nav menu */
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;

    width: 40px;
    width: 2.5rem;
    width: calc(1.4vw + 1.4vh + 1.4vmin);
    
    left: -20%;

    margin: 0.6rem -0.55rem;
    margin: calc(-0.051vw + -0.051vh + -0.051vmin) calc(-0.35vw + -0.35vh + -0.35vmin);
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    background-color: #fff;

    width: 40px;
    width: 2.5rem;
    width: calc(1.4vw + 1.4vh + 1.4vmin);

    left: -20%;

    margin: -0.6rem -0.55rem;
    margin: auto calc(-0.35vw + -0.35vh + -0.35vmin);

    transform: rotate(-45deg);
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.menu-logo { 
    display: flex;
    pointer-events: none;
    padding: 0 !important;

    width: 8.125rem; 
    width: calc(6.5vw + 6.5vh + 6.5vmin);

    margin: 1rem auto 2rem auto;
    margin: 0 auto calc(1.5vw + 1.5vh + 1.5vmin) auto;
}

.nav-links {
    display: flex;
    flex-flow: column;

    width: auto;
    margin: 0 auto;
    gap: 1vh;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    opacity: 0.75;
    padding: calc(0.35vw + 0.35vh + 0.35vmin) 0;

    color: #fff !important;

    letter-spacing: 0.8px;
    letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

    font-size: 1.75rem;  
    font-size: calc(0.7vw + 0.7vh + 0.7vmin);
}

nav.navbar .navbar-nav .nav-link.navbar-link:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.social-icons {
    display: inline-flex;
    align-items: center;
    z-index: 2;

    gap: 0.5rem;
    gap: 1.1vw;

    margin: calc(2vw + 2vh + 2vmin) auto 0 auto;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.1);

    border: 1px solid rgba(255, 255, 255, 0.5);
    border: 0.1vw solid rgba(255, 255, 255, 0.5);

    width: 2.625rem;
    width: calc(1.5vw + 1.5vh + 1.5vmin);

    height: 2.625rem;
    height: calc(1.5vw + 1.5vh + 1.5vmin);
}

.social-icons a::before {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";

    width: 2.625rem;
    width: calc(1.5vw + 1.5vh + 1.5vmin);

    height: 2.625rem;
    height: calc(1.5vw + 1.5vh + 1.5vmin);

    transform: scale(0);
    transition: 0.5s ease-in-out;
}

.social-icons a:hover::before {
    transform: scale(1);
}

.social-icons a img {
    width: 50%;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.social-icons a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}