nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

nav.navbar.scrolled {
    padding: 18.5px 0 18.5px 0;
    background-color: #121212;
    /* border-bottom: 1px solid rgba(245,238,230,.5); */
}

nav.navbar a.navbar-brand {
    width: 8.125rem; /* 130px */
    min-width: 8.125rem;
}

.burger-menu-logo { 
    display: none;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
    margin-top: 1.7rem;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

span.navbar-text {
    display: inline-flex;
    align-items: center;
    margin-left: 34vw;
}

.navbar-collapse.collapsing {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.navbar-collapse {
    transition: 0.3s ease-in-out;
}

.social-icon {
    display: inline-flex;
    margin-left: 14px;
    z-index: 2;
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 50%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
    font-weight: 700;
    color: #fff;
    border: 1px solid;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.navbar-text button span {
    z-index: 1;
}

.navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
    color: #121212;
}

.navbar-text button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

nav.navbar .navbar-toggler {
    border: none;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* bottom bar of burger menu */
nav.navbar .navbar-toggler-icon {
    width: 30px;
    height: 24px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
    z-index: 3;
}

nav.navbar .navbar-toggler-icon:focus {
    border-bottom: 2px solid #fff;
}

/* top & middle bar of burger menu */
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
    width: 30px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    /* top: 0; */
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

/* positioning of middle bar of burger menu */
nav.navbar .navbar-toggler-icon:after {
    top: 11px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
    width: 40px;
    left: -4px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(10px) rotate(-45deg);
    background-color: #fff;
    height: 2px;
    width: 40px;
    left: -4px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}


/* MEDIA QUERIES (XL DEVICE) */
@media screen and (max-width: 1399px) {
    span.navbar-text {
        display: inline-flex;
        align-items: center;
        margin-left: 24vw;
    }
}

/* MEDIA QUERIES (LG DEVICE) */
@media screen and (max-width: 1199px) {
    span.navbar-text {
        display: inline-flex;
        align-items: center;
        margin-left: 12vw;
    }
}

/* MEDIA QUERIES (MD DEVICE) */
@media screen and (max-width: 991px){
    .navbar-nav {
        margin: 0 auto;
    }

    .navbar-collapse {    
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;  
        padding: 6.4rem 0 6.4rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu-logo { 
        display: flex;
        margin: 1rem auto 2rem auto;
        width: 10rem;
        min-width: 10rem;
    }

    /* Burger Menu: Home, Skills, Projects Button */
    nav.navbar .navbar-nav .nav-link.navbar-link {
        font-weight: 400;
        color: #fff !important;
        letter-spacing: 0.8px;
        padding: 0 25px;
        font-size: 28px;
        opacity: 0.75;
        margin-top: 2rem;
    }

    span.navbar-text {
        margin: 0 auto;
        flex-direction: column;
        flex-flow: column-reverse; /* put Contact button in front of social icons */
    }

    /* Contact Button */
    .navbar-text button {
        font-weight: 400;
        color: #fff !important;
        letter-spacing: 0.8px;
        padding: 0 25px;
        font-size: 28px;
        opacity: 0.75;
        margin: 2rem 0 0 0;
        border: none;
        padding: auto;
        transition: none;
    }

    .navbar-text button:hover,
    .navbar-text button.active {
        opacity: 1;
    }
    
    .navbar-text button::before {
        background-color: transparent;
        transition: none;
    }

    .social-icon {
        display: inline-flex;
        margin-left: 0;
        z-index: 2;
        margin-top: 6rem;
        gap: 1rem;
    }
}