.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(17vw + 17vh + 17vmin), 0fr));
    justify-content: center;
    align-content: center;
}

.projects-card-container {
    position: relative;
    
    border-radius: 30px;
    border-radius: calc(1vw + 1vh + 1vmin);

    overflow: hidden;

    margin: 0 auto 1.5rem auto; 
    margin: 0 auto calc(0.8vw + 0.8vh + 0.8vmin) auto; 

    width: 26rem; 
    width: calc(17vw + 17vh + 17vmin);

    display: flex;
    justify-content: center;

    height: 19rem;
    height: auto;
}

.projects-card-container::before {
    content: "";
    background: linear-gradient(90.21deg, #6c9dbd -5.91%, #151c27 111.58%);
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.4s ease-in-out;
}

.projects-card-container:hover::before {
    height: 100%;
}

.projects-info {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 80%;
    height: auto;
}

.projects-card-container:hover .projects-info {
    top: 50%;
    opacity: 1;
}

.projects-btn{
    margin-top: var(--button-margin-top, var(--button-margin-top-rem), var(--button-margin-top-px));
    display: flex;
    justify-content: center;
}

.projects-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border-radius: 0;
    margin: var(--button-margin-left-right, var(--button-margin-left-right-rem), var(--button-margin-left-right-px));
    font-weight: bold;
    height: var(--button-height, var(--button-height-rem), var(--button-height-px));
}

.projects-btn a:hover {
    border-color: white;
    background-color: white;
    color: #191f29;

    border-radius: 50px;
    border-radius: calc(1.5vw + 1.5vh + 1.5vmin);
}

.projects-info h4 {
    font-size: 30px;
    font-size: calc(1.07vw + 1.07vh + 1.07vmin);

    font-weight: 700;

    letter-spacing: 0.8px;
    letter-spacing: 0.05rem;
    letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

    line-height: 2.25rem;
    line-height: calc(1.3vw + 1.3vh + 1.3vmin);

    margin-bottom: 1rem;
    margin-bottom: calc(0.57vw + 0.57vh + 0.57vmin);
}

.projects-info span {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    font-size: calc(0.5vw + 0.5vh + 0.5vmin);

    letter-spacing: 0.8px;
    letter-spacing: 0.05rem;
    letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}