.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(20vw + 20vh + 20vmin), 0fr));
    justify-content: center;
    align-content: center;

    gap: 1rem;
    gap: calc(1vw + 1vh + 1vmin);

    margin: auto 2rem;
    margin: auto calc(2vw + 2vh + 2vmin);
}

.projects-card-container {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    border-radius: 1rem;
    border-radius: calc(1vw + 1vh + 1vmin);

    margin: 0 auto 1.5rem auto;
    margin: 0 auto calc(0.8vw + 0.8vh + 0.8vmin) auto;
}

.projects-card-container::before {
    content: "";
    background: linear-gradient(90.21deg, #6c9dbd -5.91%, #151c27 111.58%);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 0;
    transition: 0.5s ease-in-out;
}

.projects-card-container:hover::before {
    height: 100%;
}

.projects-info {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 80%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.projects-card-container:hover .projects-info {
    opacity: 1;
}

.projects-btn {
    margin-top: 1.125rem;
    margin-top: calc(1.16vw + 1.16vh + 1.16vmin);

    display: flex;
    justify-content: center;
}

.projects-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: transparent;
    border-radius: 0;
    transition: 0.4s ease-in-out;

    border: 0.0625rem solid white;
    border: calc(0.05vw + 0.05vh + 0.05vmin) solid white;

    margin: 0.25rem;
    margin: calc(0.285vw + 0.285vh + 0.285vmin);

    width: 5.625rem;
    width: calc(5.5vw + 5.5vh + 5.5vmin);
    
    height: 1rem;
    height: calc(1.5vw + 1.5vh + 1.5vmin);

    font-size: 1rem;
    font-size: calc(0.57vw + 0.57vh + 0.57vmin);
}

.projects-btn a:hover {
    border-color: white;
    background-color: white;
    color: #191f29;

    border-radius: 1.5rem;
    border-radius: calc(1.5vw + 1.5vh + 1.5vmin);
}

.projects-info h4 {
    margin-bottom: calc(0.57vw + 0.57vh + 0.57vmin);

    line-height: 2.25rem;
    line-height: calc(1.3vw + 1.3vh + 1.3vmin);
}