.projects {
    position: relative;
    background: url('../assets/img/projects-background.webp') center/cover no-repeat;
}

.projects-container {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: calc(4vw + 4vh + 4vmin) auto;

    gap: 2rem;
    gap: calc(2vw + 2vh + 2vmin);
}

.projects h2 {
    display: flex;
    flex-wrap: nowrap !important;
    width: 50%;
    color: var(--color-primary);
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/* Project Tabs */
.projects .nav.nav-pills {
    width: 82%;
    max-width: calc(40vw + 40vh + 40vmin);
    margin: 0 auto;
    overflow: hidden;

    border-radius: 2.8rem;
    border-radius: calc(1.5vw + 1.5vh + 1.5vmin);
}

.projects .nav.nav-pills .nav-item {
    width: 50%;
}

.projects .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    width: 100%;
    position: relative;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 0;

    padding: 1.0625rem 0;
    padding: calc(0.58vw + 0.58vh + 0.58vmin) 0;

    letter-spacing: 0.05rem;
    letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);

    font-size: 1.3rem;
    font-size: calc(0.7vw + 0.7vh + 0.7vmin);
}

.projects .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #6c9dbd -5.91%, #151c27 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.projects .nav.nav-pills .nav-link#projects-tabs-tab-programming.active::before {
    width: 100%;
    border-radius: 3.4375rem 0rem 0rem 3.4375rem;
    border-radius: calc(1.2vw + 1.2vh + 1.2vmin) 0rem 0rem calc(1.2vw + 1.2vh + 1.2vmin);
}

.projects .nav.nav-pills .nav-link#projects-tabs-tab-design.active::before {
    width: 100%;
    border-radius: 0 3.4375rem 3.4375rem 0rem;
    border-radius: 0 calc(1.2vw + 1.2vh + 1.2vmin) calc(1.2vw + 1.2vh + 1.2vmin) 0rem;
}

.projects .nav.nav-pills .nav-link.active {
    border: 0.0625rem solid rgba(255, 255, 255, 1);
    border: calc(0.020vw + 0.020vh + 0.020vmin) solid rgba(255, 255, 255, 1);
}

.nav-link#projects-tabs-tab-programming {
    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border: calc(0.020vw + 0.020vh + 0.020vmin) solid rgba(255, 255, 255, 0.5);

    border-radius: 3.4375rem 0rem 0rem 3.4375rem;
    border-radius: calc(1.2vw + 1.2vh + 1.2vmin) 0rem 0rem calc(1.2vw + 1.2vh + 1.2vmin);    
}

.nav-link#projects-tabs-tab-design {
    border: 0.0625rem solid rgba(255, 255, 255, 0.5);
    border: calc(0.020vw + 0.020vh + 0.020vmin) solid rgba(255, 255, 255, 0.5);

    border-radius: 0 3.4375rem 3.4375rem 0rem;
    border-radius: 0 calc(1.2vw + 1.2vh + 1.2vmin) calc(1.2vw + 1.2vh + 1.2vmin) 0rem;
}