/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), rgba(157, 195, 224, 0.15), transparent 10%);
  z-index: 9999;
}


/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 100%; */
}


body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
  position: relative;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* 2.2vh is equal to 2.2% of the viewport height. */
/* vmin is viewport minimum, it's based on the smaller dimension of the viewport. 
if vh < vw, value of 2vmin = 2% of the vh. if vw < vh, value of 2vmin = 2% of the vw */
h1 {
  font-size: 4.063rem !important;
  font-size: calc(2.3vw + 2.3vh + 2.3vmin) !important;
}

h3 {
  font-size: 1.625rem !important;
  font-size: calc(0.9vw + 0.9vh + 0.9vmin) !important;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none !important;
  display: block;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p.success {
  color: green;
  width: 28rem;
  width: 100%;
  width: calc(14vw + 14vh + 14vmin);

  font-size: 0.7rem;
  font-size: calc(0.38vw + 0.38vh + 0.38vmin);
}

p.danger {
  color: #ff0000;
  width: 28rem;
  width: 100%;
  width: calc(14vw + 14vh + 14vmin);

  font-size: 0.7rem;
  font-size: calc(0.38vw + 0.38vh + 0.38vmin);

  margin-bottom: 0.3rem;
  margin-bottom: calc(0.15vw + 0.15vh + 0.15vmin);
}

.invalidInput {
  border: 0.0625rem solid #ff0000 !important;
  border: calc(0.05vw + 0.05vh + 0.05vmin) solid #ff0000 !important;
}

@media (max-width: 9999px) {
  .scrollLocked {
    position: fixed;
    right: 0;
    left: 0;
  }
}