.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.spotlight {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(circle at var(--x) var(--y), rgba(157, 195, 224, 0.15), transparent 10%);
  z-index: 9999;
}


/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 100%; */
}


body {
  font-weight: 400;
  overflow-x: hidden;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
  position: relative;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* 2.2vh is equal to 2.2% of the viewport height. */
/* vmin is viewport minimum, it's based on the smaller dimension of the viewport. 
if vh < vw, value of 2vmin = 2% of the vh. if vw < vh, value of 2vmin = 2% of the vw */
h1 {
  font-size: 4.7rem !important;
  font-size: calc(2.5vw + 2.5vh + 2.5vmin) !important;
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

h2 {
  font-size: 3rem !important;
  font-size: calc(1.6vw + 1.6vh + 1.6vmin) !important;
  letter-spacing: 0.05rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

h3 {
  font-size: 2rem !important;
  font-size: calc(1vw + 1vh + 1vmin) !important;
  letter-spacing: 0.28rem;
  letter-spacing: calc(0.13vw + 0.13vh + 0.13vmin);
  line-height: calc(1.5vw + 1.5vh + 1.5vmin) !important;
}

h4 {
  font-size: 1.875rem !important;
  font-size: calc(1.05vw + 1.05vh + 1.05vmin) !important;
  letter-spacing: 0.0625rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

h5, form, input, textarea {
  font-size: 1.1rem !important;
  font-size: calc(0.6vw + 0.6vh + 0.6vmin) !important;
  letter-spacing: 0.0625rem;
  letter-spacing: calc(0.03vw + 0.03vh + 0.03vmin);
}

h6 {
  font-size: 1rem !important;
  font-size: calc(0.51vw + 0.51vh + 0.51vmin) !important;
  letter-spacing: 0.0625rem;
  letter-spacing: calc(0.035vw + 0.035vh + 0.035vmin);
  line-height: 2rem !important;
  line-height: calc(0.9vw + 0.9vh + 0.9vmin) !important;
}

p {
  font-size: 0.73rem !important;
  font-size: calc(0.4vw + 0.4vh + 0.4vmin) !important;
  letter-spacing: 0.6px;
  letter-spacing: calc(0.02vw + 0.02vh + 0.02vmin);
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none !important;
  display: block;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (max-width: 9999px) {
  .scrollLocked {
    position: fixed;
    right: 0;
    left: 0;
  }
}