/* Custom Fonts */
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}


/* Default CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important; 
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* 2.2vh is equal to 2.2% of the viewport height. */
/* vmin is viewport minimum, it's based on the smaller dimension of the viewport. 
if vh < vw, value of 2vmin = 2% of the vh. if vw < vh, value of 2vmin = 2% of the vw */
h1 {
  font-size: calc(2.2vw + 2.2vh + 2vmin) !important;
}

h3 {
  font-size: calc(0.9vw + 0.9vh + 0.9vmin) !important;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
  width: 27rem;
}

p.danger {
	color: #ff0000;
  width: 27rem;
  font-size: 12px;
  margin-bottom: 0.3rem;
}

.invalidInput {
  border: 1.5px solid #ff0000 !important;
}

@media (max-width:991px) {
	.scrollLocked {
    position: fixed;
    right: 0;
    left: 0;
  }
}


/* .error-icon {
  display: none;
}

.error-icon {
  display: inline-block;
} */

/* MEDIA QUERIES (XS DEVICE) */
@media screen and (max-width: 575px) {
  p.success {
    width: 70vw;
  }
  
  p.danger {
    width: 70vw;
  }
}