/* Great Vibes font */
@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/font/GreatVibes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.great-vibes-regular {
  font-family: 'Great Vibes', cursive;
}


/* Old Standard TT font */
@font-face {
  font-family: 'Old Standard TT';
  src: url('./assets/font/OldStandardTT-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}


/* Open Sans font */
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/font/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.open-sans-italic {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.open-sans-semibold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
